<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Logística</title>
</head>
<body>
  <h1>Logística</h1>
  <a th:href="@{/logistica/nuevo}">Nuevo Envío</a>
  <table>
    <tr>
      <th>ID</th><th>Dirección</th><th>Fecha</th><th>Estado</th><th>Factura ID</th><th>Acciones</th>
    </tr>
    <tr th:each="l : ${items}">
      <td th:text="${l.idLogistica}"></td>
      <td th:text="${l.direccion}"></td>
      <td th:text="${l.fecha}"></td>
      <td th:text="${l.estado}"></td>
      <td th:text="${l.factura.idFactura}"></td>
      <td>
        <a th:href="@{'/logistica/editar/' + ${l.idLogistica}}">Editar</a>
        <a th:href="@{'/logistica/eliminar/' + ${l.idLogistica}}">Eliminar</a>
      </td>
    </tr>
  </table>
</body>
</html>

